/* Paleta de cores: #0E2954, #1F6E8C, #2E8A99, #84A7A1, #99DBF5, #A7ECEE, azure */

html {
  font-family: 'Ubuntu', sans-serif;
}

.hero {
  background: linear-gradient(180deg, #1F6E8C, #99DBF5, #99DBF5,#99DBF5);
  display: grid;
  grid-template: 2fr 1fr 1fr 2fr / 1fr 2fr 1fr;
  grid-template-rows: auto;
}

div > img {
  margin: 2rem 0 0 0;
}

.cloud-1 {
  grid-area: 1 / 1 / 1 / 1;
  flex-basis: auto;
}

.container-cloud-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud-2 {
  grid-area: 3 / 3 / 3 / 3;
  text-align: center;
}

.mountain {
  grid-area: 4 / 2 / 4 / 2;
  text-align: center;
}

#montanha {
  margin: 0;
}

.Rafael {
  grid-area: 1 / 2 / 1 / 2;
  font-family: 'Caveat', cursive;
  font-size: 10rem;
  text-align: center;
  color: #A7ECEE;
}

.helicopter-container {
  position: relative;
  width: 100%;
  grid-area: 2 / 4 / 3 / 4;
}

.helicopter {
  grid-area: 2 / 1 / 3 / 4;
  position: relative;
  top: 0;
  left: 0;
  animation: mover 12s linear infinite;
  overflow: hidden;
}

#helicopter {
  margin: 0;
}

@keyframes mover {
  100% {
    transform: translateX(0);
  }

  0% {
    transform: translateX(100%);
  }
}

.dev-pilot {
  grid-area: 2 / 2 / 2 / 2;
  text-align: center;
  color: azure;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

.resume {
  background-color: azure;
}

.resume-container {
  padding: 10% 8% 5% 8%;
}

.apresentacao {
  font-size: 2rem;
}

div > span {
  color: #1F6E8C;
}

.profile {
  border-radius: 2%;
  margin: 0 2% 0 0;
  border: 1px dotted #2E8A99;
  float: left;
}

.contact {
  background-color: azure;
  width: 100%;
}

.contact-container {
  padding: 5% 8% 10% 8%;
  font-size: 2rem;
  text-align: center;
}

.contato {
  font-size: 4rem;
  color: #1F6E8C;
  padding: 0 0 4% 0;
}

.chamada {
  padding: 0 0 4% 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1F6E8C;
  color: azure;
  text-decoration: none;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

footer {
  background: linear-gradient(180deg, #99DBF5, #99DBF5,#99DBF5, #1F6E8C);
  padding: 5% 8% 10% 8%;
  font-size: 1rem;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container > div {
  margin: 0 2% 4% 2%;
}

@media (max-width: 1200px) {
  #montanha {
    height: 250px;
  }

  #cloud-2, #cloud-1 {
    height: 36px;
  }

  #helicopter {
    height: 70px;
  }
}

@media (max-width: 700px) {
  #montanha {
    height: 200px;
  }

  #cloud-2, #cloud-1 {
    height: 30px;
  }

  #helicopter {
    height: 60px;
  }

  .Rafael {
    font-size: 5rem;
  }
  
  .dev-pilot {
    font-size: 1.5rem;
  }

  .apresentacao {
    font-size: 1.5rem;
  }

    .contact-container {
      padding: 5% 8% 10% 8%;
      font-size: 1.5rem;
      text-align: center;
    }
    
    .contato {
      font-size: 3rem;
      color: #1F6E8C;
      padding: 0 0 4% 0;
    }
  }

@media (max-width: 560px) {
  #montanha {
    height: 150px;
  }

  #cloud-2, #cloud-1 {
    height: 24px;
  }

  #helicopter {
    height: 50px;
  }

  .Rafael {
    font-size: 4rem;
  }
  
  .dev-pilot {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  #montanha {
    height: 100px;
  }

  #cloud-2, #cloud-1 {
    height: 20px;
  }

  #helicopter {
    height: 44px;
  }

  .Rafael {
    font-size: 4rem;
  }
  
  .dev-pilot {
    font-size: 1.5rem;
  }
}
